
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.fonts{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;


}
logo h2{
   
    font-size: 45px;
    font-weight: 700; 
}
.c-orange{
    color:#FD6E0A;
}
header{
    background-color:#FFF8F3;
    padding-top: 50px;
    background:url("../images/developer.png") , url("../images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
}

nav{
  width: 70%;
  max-width: 1140px; 
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
  list-style-type:none;
  gap: 51px; 
}
.menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
  align-items: center;
}
.btn{
  background-color: #FD6E0A;
  color: white;
  border: none;
  padding: 18x 35px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 150px ;
  height: 65px ;
}
#banner{
 display: flex;
 margin: 47px 38px 0 230px;
  justify-content: space-between;
  align-items: center;
}
.banner-content{
  max-width: 585px;

}
#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600px ;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1{
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#banner .banner-content p{
  font-size: 18px;
  white-space: initial;
  color: #757575;
  line-height: 38px;
  margin-bottom: 30px;

}
#banner .banner-image img{
  max-width: 585px;
  vertical-align: middle;
}
#about{
  padding-top: 130px;
}
#about .about-container{
  width: 70%;
  max-width: 1140px; 
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 156px;
}
.section-heading{
  max-width: 827px;
  text-align: center;
}
.section-heading h2{
  font-size: 36px;

  margin-bottom: 30px;
}
.section-heading p{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
 .about-info{
  display: flex;
  justify-content: space-around;
  gap: 30px;
 }
 .about-info .info-card p{
  font-size: 20px;
  color: #757575;

 }
 .about-info .info-card h4{
  font-size: 20px;
 }
 #skills{
  padding-top: 130px;
 }
 .skills-container{
  width: 70%;
  max-width: 1140px; 
  margin: 0 auto;
  
  
 }
 .skills-container h2{
  font-size: 36px;
  margin-bottom: 30px;
 }
  .skills-container p{
    font-size: 18px;
    margin-bottom: 70px;
    line-height: 30px;
    color: #757575;
  }
  .skills-box{
    display: flex;
    
    gap: 24px;
  }
  .skills-card{
    padding: 30px;
    
    max-width: 267px;
    box-shadow: 0px 6px 50px 0 #00000021;
    border-radius: 10px;
  }
  .skills-card img{
   max-width: 44px;
  margin-bottom: 30px;
  
    
  }
  .skills-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
  }
  .skills-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
  }
