
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.fonts{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;


}
logo h2{
   
    font-size: 45px;
    font-weight: 700; 
}
.c-orange{
    color:#FD6E0A;
}
header{
    background-color:#FFF8F3;
    padding-top: 50px;
}

nav{
  width: 70%;
  max-width: 1140px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
  list-style-type:none;
  gap: 51px;
}
.menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
  align-items: center;
}
.btn{
  background-color: #FD6E0A;
  color: white;
  border: none;
  padding: 18x 35px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 150px ;
  height: 65px ;
}